---
layout: default
---

{% for post in site.posts limit: 25 %}
<article class="post">
  <header class="post-header">
{% if post.categories contains 'signals' %}
    <h2 class="signals-post-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
{% else %}
    <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
{% endif %}
  </header>
  {{ post.excerpt }}
  <p><a class="post-date" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d" }}</a></p>
</article>

<hr class="article-break">
{% endfor %}

{% include archive-link.html %}
