<section class="sidebar">
	<ul class="navigation">
		<li><a href="/masthead">Masthead</a></li>
		<li><a href="/archive">Archive</a></li>
		<li><a href="/feeds">RSS Feeds</a></li>
		<li><a href="http://twitter.com/dreger">Twitter</a></li>
	</ul>
	
	<p class="motw" title="No seriously, waffles are amazing. Christopher and I actually have a literal 'award winning' waffle recipe. Granted, the award was won during our local church cook off, but hey - award winning nonetheless.">Waffles are, quite simply, the most perfect breakfast food. &mdash; KD</p>
</section> 
