<h2 class="dateline">{{ include.data.date | date: "%A, %e %B %Y" }}</h2>
<article>
  {% if include.data.link %}
    <h1 class="link-title small-caps"><a href="{{ include.data.link }}">
        {{ include.data.title }}</a>&nbsp;&nbsp;&nbsp;<a class="link-url" href="{{ include.data.url }}">∞</a></h1>
    {{ include.data.content | markdownify }}
  {% else %}
    <h1 class="post-title"><a href="{{ include.data.url }}">{{ include.data.title }}</a></h1>
    {{ include.data.content | markdownify }}
  {% endif %}
</article>