@charset "UTF-8";
@import "reset"; 

/*
  Copyright K.Q. Dreger
  Update: AF 1.21
*/ 

// FONTS
@font-face {
    font-family: 'concourse-bold';
    src: url('../fonts/concourse_t3_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 

}
@font-face {
    font-family: 'concourse-regular';
    src: url('../fonts/concourse_t3_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

 
// SPACING

$line-height: 1.35em; 
$letter-spacing: .08em; 
$max-width: 1288px;
$max-width: 53.6rem;
$font-size: 22px; 

$font-fallback: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", "Lucida Grande", "Helvetica Neue", Helvetica, "Fira Sans", Roboto, Noto, "Droid Sans", Cantarell, Oxygen, Ubuntu, "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
$font-bold: concourse-bold, $font-fallback;   
$font-light: "Concourse T2", concourse-regular, $font-fallback;   
$font-regular: concourse-regular, $font-fallback; 


// COLORS

$link: #B0976D; // Old Gold
$link: #795AE1; // Deep Purple
$link: #1968FF; // Bright Blue
$link: #6B8EB7; // Jeans
$link: #ff8600; // Quantum Gold 
$link: #FFDC00; // Light Orangish Red
$link: #00BBBB; // Soft Teal
$link: red; // Dark red
$link: #0ed3c8; // Tealicious
$link: #645394; // MDS Purple
$link: rgb(39, 110, 241); // BlUber
$link: #FF725C; // Light Red
$link: #FE3366; // Think Pink
$link: #FCCA75; // AF Soft yellow (nice)

$copy: #141414; // Also: RGBA(52, 60, 71, 1);
$faded: #777; 
$light-gray: #a1a2a3; 
$light-light-gray: #ddd; 
$gray: #525252; 
$bg: #f5f7f9; 
$article-bg: white; 
$heart-color: $link; 


/*
  Start Styles
*/
 
::selection {
  background: lighten($link, 16%);
}

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

html {
  font-size: $font-size; 
  text-rendering: optimizeLegibility;
}

body {
  line-height: $line-height;
  margin: 0;
  color: $copy; 
  font-family: $font-regular; 
  font-feature-settings: 'kern' 1;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1;
  -webkit-font-smoothing: subpixel-antialiased;
  // font-feature-settings: 'ss01' on, 'ss02' on, 'ss07' on, 'tnum' off;
}

a {
  color: $copy; 
  border-bottom: 2px solid $link;
  text-decoration: none;  
  &:hover { 
    border-bottom-color: $copy; 
  }
}

em {
  font-style: italic; 
}

strong {
  font-family: $font-bold;
  // font-weight: bold; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
img,
ul,
ol,
aside,
blockquote,
.highlighter-rouge {
  margin-bottom: 1em; 
}


h1 {
  font-size: 2.25rem; 
  font-family: $font-light; 
  margin-bottom: 1.25rem; 
  line-height: 1.25em;
  text-transform: none; 
  a { border: 0; }
}

h2 {
  margin-top: 2.25rem;
  font-size: 1.25rem;
  line-height: $line-height;
  &.link {
    margin-top: 0; 
  }
}

h3 {
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: .5rem; 
  font-family: $font-bold; 
  // font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: $letter-spacing; 
}

img {
  display: block;
  border-radius: 4px; 
  width: 100%; 
}

em {
  figcaption { 
    font-style: normal; 
  }
  img {
    width: calc(100% + 6rem);
    border-radius: 0; 
    margin: 1.5rem 0 1.5rem -3rem; 
  }
}

small {
  font-size: .875rem;
  line-height: 1em; }

ul,
ol {
  padding-left: 1.5rem; 
  margin-bottom: 1.5rem;
}

ul li {
  list-style: square; }

ol li {
  list-style: decimal; }

li {
  margin-bottom: .5em; 
  padding-left: .5rem; 
}

hr {
  height: 1px;
  border: 0;
  border-top: 2px solid $bg; 
  margin: 1.5rem 0;
  display: block;  
}

article {
  padding:  3rem; 
  border-bottom: solid 1px $light-light-gray; 
  margin-bottom: .25rem;
  &:last-child { border: 0; }
}

article:first-child {
  margin-top: 0; }

article p:last-child,
article blockquote:last-child {
  margin-bottom: 0; }

aside {
  width: 40%;
  float: right;
  margin: 0 0 1.25rem 1.25rem;
  padding: .5rem 0 0;
  font-size: .875rem;
  color: $faded;
  line-height: $line-height;
  border-top: solid 2px $bg; 
}
  aside {
    width: 100%;
    margin: 0 0 1.25rem; }
  blockquote {
    padding: 0 1rem; 
  }


sup {
  margin: 0 2px 0 0;
  line-height: 1em; }

sub {
  margin: 0 0 0 2px;
  line-height: 1em;
  font-size: smaller;
  vertical-align: sub; }

code {
  display: inline-block;
  font-size: .875rem; 
  border-radius: 4px; 
  background: $bg;
  padding: 0 2px;
  font-family: "SF Mono", "IBM Plex Mono", Menlo, monospace; 
}

pre {
  white-space: pre-wrap;
  border-radius: 4px; 
  background: $bg;
  padding: .5rem;
  line-height: $line-height; 
}

blockquote {
  color: $gray; 
  margin: 1.25rem; 
  width: 80%; 
}

blockquote strong {
  text-transform: none;
  font-size: 1rem;
  letter-spacing: 0; 
  font-family: $font-bold;
  // font-weight: bold; 
}

blockquote ul:last-child {
  margin-bottom: 0; 
}

figure {
  margin-bottom: 1.5rem; 
  img { margin-bottom: .5rem; }
  figcaption { 
    font-size: .875rem; 
    line-height: $line-height;
    
    color: $gray; 
  }
}

// =================
// =================// =================
// =================
// =================
// =================
// =================
// =================
// =================
// =================
// =================

.wrapper {
  max-width: $max-width; 
  margin: 0 auto;
  padding: 0; 
}

.header {
  display: flex; 
  max-width: $max-width; 
  align-items: center; 
  padding: 3rem; 
  margin-top: 3rem;
}


.logo {
  display: block;
  width: 3rem;
  height: 3rem;
  background: $link url(/images/logo.svg) no-repeat center center;
  padding: .25rem;
  text-indent: -1000em;
  margin-right: .875rem;
  background-size: 60%;
  border-radius: 100%; 
  &:hover { opacity: .64; }
}



.title { 
  font-family: $font-bold;
  // font-weight: 900;
  a { 
    border: 0;  
    color: $copy; 
  }
}
.byline { 
  // padding-left: .5rem; 
  font-family: "SF Mono", "IBM Plex Mono", "Menlo", monospace;
  // opacity: .4; 
}
.byline__initials { display: none; }

.title, .byline {
  font-size: 1rem; 
  text-transform: uppercase; 
  // font-family: $font-bold;
  letter-spacing: $letter-spacing; 
  margin: 0; 
  line-height: 1rem;
}

.header-navigation-jump {
  opacity: .4; 
  line-height: 1em; 
  margin-left: auto;    
  display: none; 
  cursor: pointer; 
  top: -2px;
  position: relative;
  border: 0; 
  &:hover {
    opacity: 1; 
  }
}

.page {
  display: flex; 
  border-top: solid 1px $light-light-gray; 
}


.page__column {
  border-left: solid 1px $light-light-gray;
  padding-bottom: 3rem;
  width: calc(27.16rem + 6rem);
  // SF-based width: calc(27.16rem + 8.9rem);
}


.page__sidebar {
  width: 10rem; 
  // SF-based width: 11.5rem; 
  padding: 3rem;
  font-size: .875rem; 
  flex-shrink: 0;
  line-height: $line-height;
  & p:last-child { margin-bottom: 0; }
}



.navigation {
  line-height: $line-height;
  text-transform: uppercase; 
  letter-spacing: $letter-spacing; 
  text-rendering: optimizeLegibility;
  list-style: none;
  padding: 0; 
  text-transform: uppercase;
  li {
    list-style: none; 
    margin-bottom: 1rem;
    padding-left: 0; 
  }
  a {
    border-color: transparent;
    &:hover { border-color: $copy; }
  }
}

.caps,
strong,
.interview .name {
  font-size: .875em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: $letter-spacing; 
  font-family: $font-bold; 
  // font-weight: bold;
}

.caps {
  font-weight: normal; 
}

.archive {
  font-variant-numeric: tabular-nums; 
  a { font-size: 1rem; }
  li {
  }
}
.archive__date {
  color: $light-gray;
  white-space: nowrap; 
  font-size: .875rem; 
}

.footnotes {
  font-size: .875rem;
  padding: 0;
  line-height: $line-height;
  margin: 2.25rem 0; 
  margin-bottom: 0; 
  border-top: solid 2px $bg; 
  font-style: italic; 
  > hr { display: none; }
  ol {
    padding: 1rem; 
    margin: 0; 
    a { border-color: rgba(0,0,0,.12); }
    &:before {
      content: "Footnotes"; 
      display: none; 
      padding: 0 1rem; 
      position: relative; 
      left: -.5rem;
      border-radius: 4px;  
      color: $gray; 
      top: -.75rem; 
      background: white; 
    }
  }
  li {
    margin-bottom: 1em; 
    &:last-child { margin-bottom: 0; }
  }
}


.term {
  font-family: $font-bold;
  font-weight: bold;
}

.interview {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem; }

.canonical-link {
  font-weight: normal; 
  // margin-top: .25rem;
  text-transform: uppercase; 
  letter-spacing: .08em; 
  font-size: .875rem; 
}
.canonical-link--post,
.canonical-link--homepage { 
  opacity: .4; 
  border: 0; 
  color: $copy; 
}
 
.canonical-link--homepage:hover { opacity: 1; }
.canonical-link--post { display: inline; }

.pagination {
  padding: 3rem; 
  line-height: $line-height; 
  color: $gray; 
  .caps {
    letter-spacing: $letter-spacing; 
    padding-bottom: .5rem; 
    color: $light-gray; 
    font-family: $font-regular; 
  }
}
.pagination-older {
  margin-bottom: 1.5rem; 
}

.interview h1,
.interview h2,
.interview h3,
.interview .name,
.interview strong,
.interview .name {
  margin-left: -1.5rem; }


.heart {
  background-color: $heart-color;
  display: inline-block;
  height: .62em;
  margin: 0 4px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: .62em;
}

.heart:before,
.heart:after {
  content: "";
  background-color: $heart-color;
  border-radius: 50%;
  height: .6em;
  position: absolute;
  width: .6em;
}

.heart:before {
  top: -.3em;
  left: 0;
}

.heart:after {
  left: .3em;
  top: 0;
}

.headline-space { display: none; }
.headline-nbsp { display: inline; }

@media (max-width: $max-width + .5rem) {
  // html { font-size: 22px; }
  .wrapper { max-width: 44rem; }
}

@media (max-width: 46rem) {
  html { font-size: 20px; }
  .wrapper {
    margin: 0 auto; 
    padding: 0; 
    max-width: 658px; 
  }
  article, 
  .pagination,
  .menu,
  .header,
  .page__sidebar {
    padding: 1.5rem 1rem;
  }
  .header {
    padding: 1.5rem 1rem 3rem;  
    margin-top: 0; 
  }
  .header-navigation-jump {
    display: block; 
  }
  .page {
    flex-direction: column; 
    border-top: 0; 
  }
  .page__column { 
    border: 0; 
    order: 0; 
    width: auto; 
  }
  .page__sidebar {
    margin: 0; 
    order: 1; 
    width: auto; 
  }
  ul,
  ol {
    padding-left: 1.5rem;
    list-style-position: initial;
  }
}
@media (max-width: 420px) {
  .page__column { padding-bottom: 0; }
  // .byline__name { display: none; }
  // .byline__initials { display: inline; }
}
@media (max-width: 370px) {
  html { font-size: 18px; }
}
