@charset "UTF-8";
@import "reset"; 

/*
  Fonts
*/

@font-face {
  font-family: 'Concourse C6 Regular';
  src: url("/fonts/concourse_c6_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
  Variables
*/

$serif: Georgia, Cambria, "Times New Roman", Times, serif;
$sans: "Concourse C6 Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif; 
$accent: RGBA(52, 60, 71, 1); 

$accent: #141414; 
$faded: #454647; 
$light-gray: #e1e2e3; 
$gray: #c1c2c3; 
$bg: #f1f2f3; 

/*
  Start Styles
*/

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

html {
  font-size: 18px; }

body {
  line-height: 1.5em;
  margin: 0;
  background: $bg; 
  color: $accent; 
  font-family: $serif; }

a {
  color: $accent; 
  border-bottom: solid 2px $light-gray;
  text-decoration: none; 
  &:hover { 
    border-bottom-color: $accent; 
  }
}

em {
  font-style: italic; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
ol,
aside,
blockquote,
.highlighter-rouge {
  margin-bottom: 1em; }

h1,
h2,
h3,
header,
.navigation {
  line-height: 1.5em;
  font-family: $sans;
  text-transform: uppercase; 
  a {
    border-color: transparent; }
}

h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.5em; 
}

h1 a {
  text-decoration: none;
  color: $accent; 
}

h2 {
  margin-bottom: 1rem;
  margin-top: 2.25rem;
  font-size: 1rem;
  line-height: 1.5em;
}

h3 {
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: .5rem; }

img {
  display: block;
  width: 100%; }

em img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-left: 0;
  border-right: 0; }

small {
  font-size: .875rem;
  line-height: 1em; }

ul,
ol {
  padding-left: 1.5rem; }

ul li {
  list-style: square; }

ol li {
  list-style: decimal; }

li {
  margin-bottom: .5em; }

hr {
  height: 2px;
  border: 0;
  background: $bg;
  margin: 1rem 0;
  display: block; }

article {
  background: white;
  position: relative;
  border-bottom: solid 2px $bg; 
  background: white;
  padding: 2.25rem;
  &:last-child { border-bottom: 0; } 
}

article:first-child {
  margin-top: 0; }

article p:last-child,
article blockquote:last-child {
  margin-bottom: 0; }

aside {
  width: 33%;
  float: right;
  margin: 0 0 1.25rem 1.25rem;
  padding: .5rem 0 0;
  font-size: .875rem;
  color: $faded;
  line-height: 1.5em;
  border-top: solid 2px $light-gray; }

sup {
  margin: 0 2px 0 0;
  line-height: 1em; }

sub {
  margin: 0 0 0 2px;
  line-height: 1em;
  font-size: smaller;
  vertical-align: sub; }

code {
  font-size: .875rem;
  padding: 1px 4px;
  font-family: monospace; 
  border: solid 1px #d5d6d7; 
  box-shadow: 0 0px 1px 0 rgba(0,0,0,.25);
  border-radius: 2px;
}

pre {
  overflow: scroll;
  font-size: .875rem;
  border-width: 1px;
  border-color: #c5c6c7;
  border-style: dashed;
  padding: .25rem .5rem;
  line-height: 1.5em; }

pre code {
  padding: initial;
  border: 0; }


blockquote {
  background: $bg;
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem auto; 
}

blockquote strong {
  text-transform: none;
  font-size: 1rem;
  font-weight: bold; }

blockquote + blockquote {
  margin-top: -1rem;
  padding-top: 1em; }

blockquote p:last-child {
  margin-bottom: 0; }

.header {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.25rem 2.25rem; 
  // border-bottom: solid 2px $light-gray; 
  font-family: $sans;
  h1 { font-size: 1rem; }
}


.title {
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
  }

.byline {
  margin-left: 0;
  margin-left: auto; 
  line-height: 1em;
  color: $gray; 
}

.wrapped {
  margin: 4rem auto;
  max-width: 40rem;
  max-width: 36rem;
  max-width: 34rem;
  max-width: 32.25rem; }

.container {
  display: flex;
  flex-direction: column; }

.column {
  flex-shrink: 0; }

.sidebar {
  font-size: .875rem;
  line-height: 1.5em;
  padding: 2.25rem; 
  text-align: center; 
  a { 
    border: 0; 
    &:hover { border-bottom: solid 2px black; }
  }
}

.navigation {
  list-style: none;
  padding: 0; 
}

.navigation li {
  list-style: none; }


.link {
  margin-top: 0; }

.caps,
strong,
.interview .name {
  font-size: .875em;
  line-height: 1em;
  text-transform: uppercase;
  font-family: $sans; }

.archive li {
  margin-bottom: 1em; }

.archive small {
  color: $faded; }

.footnotes {
  font-size: .875rem;
  padding: 1rem 0 2.25rem;
  line-height: 1.5em;
  margin-top: 0rem; }

.footnotes li {
  margin-bottom: 1em; }

.term {
  font-weight: bold; }

.interview {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem; }

.canonical-link {
  font-family: $sans; 
  font-size: .875rem; 
  line-height: 1em; 
  color: $gray; 
  border-color: white; 
  text-transform: uppercase; 
  &:hover { color: black; }
}

.interview h1,
.interview h2,
.interview h3,
.interview .name,
.interview strong,
.interview .name {
  margin-left: -1.5rem; }

@media (max-width: 36rem) {
  html {
    font-size: 16px; }

  .wrapped {
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    max-width: 34rem; }

  .container {
    display: block; }


  .header,
  .sidebar {
    padding: 1rem 1.5rem;
    margin: 0 0; }

  .navigation-jump {
    display: block;
    float: right;
    margin-left: auto;
    margin-top: -.25rem; }

  .column {
    max-width: 100%; }

  article {
    padding: 1.5rem 1.5rem;
    border-radius: 0;
    margin: .25rem 0; }

  article:first-child {
    margin-top: 0;
  }

  aside {
    width: 100%;
    margin: 0 0 1.25rem; }

  em img {
    margin-left: 0;
    width: 100%;
    border: 0; } }
