html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
.interview .name,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Copyright K.Q. Dreger
  Update: AF 1.19
*/
/*
  Start Styles
*/
::selection {
  background: #d5dee6; }

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

html {
  font-size: 12px;
  text-rendering: optimizeLegibility; }

body {
  line-height: 1.65em;
  margin: 0;
  color: #222;
  font-family: "Gotham SSm A", "Gotham SSm B", "system-ui", -apple-system, Helvetica, Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility; }

a {
  color: #222;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #FCCA75;
  text-decoration: none; }
  a:hover {
    border-bottom-color: #222; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
img,
ul,
ol,
aside,
blockquote,
.highlighter-rouge {
  margin-bottom: 1em; }

h1 {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
  line-height: 1.25em;
  text-transform: none;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: -.02em; }
  h1 a {
    border: 0; }

h2 {
  margin-top: 2.25rem;
  font-size: 1.25rem;
  line-height: 1.65em;
  font-weight: 400; }
  h2.link {
    margin-top: 0; }

h3 {
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: .5rem;
  font-weight: bold; }

img {
  display: block;
  border-radius: 4px;
  width: 100%; }

em figcaption {
  font-style: normal; }
em img {
  width: calc(100% + 6rem);
  border-radius: 0;
  margin: 1.5rem 0 1.5rem -3rem; }

small {
  font-size: .875rem;
  line-height: 1em; }

ul,
ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem; }

ul li {
  list-style: square; }

ol li {
  list-style: decimal; }

li {
  margin-bottom: .5em;
  padding-left: .5rem; }

hr {
  height: 1px;
  border: 0;
  border-top: 2px solid #f5f7f9;
  margin: 1.5rem 0;
  display: block; }

article {
  padding: 3rem;
  border-bottom: solid 1px #ddd;
  margin-bottom: .25rem; }
  article:last-child {
    border: 0; }

article:first-child {
  margin-top: 0; }

article p:last-child,
article blockquote:last-child {
  margin-bottom: 0; }

aside {
  width: 40%;
  float: right;
  margin: 0 0 1.25rem 1.25rem;
  padding: .5rem 0 0;
  font-size: .875rem;
  color: #777;
  line-height: 1.65em;
  border-top: solid 2px #f5f7f9; }

aside {
  width: 100%;
  margin: 0 0 1.25rem; }

blockquote {
  padding: 0 1rem; }

sup {
  margin: 0 2px 0 0;
  line-height: 1em; }

sub {
  margin: 0 0 0 2px;
  line-height: 1em;
  font-size: smaller;
  vertical-align: sub; }

code {
  padding: 2px 8px;
  font-size: .875rem;
  border-radius: 10px;
  background: #e8edf1;
  font-family: monospace; }

pre {
  white-space: pre-wrap;
  font-size: .875rem;
  border-width: 1px;
  background: #f5f7f9;
  border-radius: 4px;
  padding: 1.5rem;
  line-height: 1.65em; }

pre code {
  padding: initial;
  border: 0;
  background: transparent; }

blockquote {
  color: #525252;
  margin: 1.25rem;
  width: 80%; }

blockquote strong {
  text-transform: none;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: bold; }

blockquote ul:last-child {
  margin-bottom: 0; }

figure {
  margin-bottom: 1.5rem; }
  figure img {
    margin-bottom: .5rem; }
  figure figcaption {
    font-size: .875rem;
    line-height: 1.65em;
    color: #525252; }

.wrapper {
  max-width: 62rem;
  margin: 0 auto 3rem;
  padding: 0 1rem; }

.header {
  display: flex;
  max-width: 62rem;
  align-items: center;
  padding: 3rem;
  margin-top: 3rem; }

.title {
  font-weight: 600; }
  .title a {
    border: 0;
    color: #222; }

.byline {
  padding-left: .5rem;
  opacity: .4;
  font-weight: 500; }

.byline__initials {
  display: none; }

.title, .byline {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin: 0;
  line-height: 1rem; }

.header-navigation-jump {
  opacity: .4;
  line-height: 1em;
  margin-left: auto;
  display: none;
  cursor: pointer;
  border: 0; }
  .header-navigation-jump:hover {
    opacity: 1; }

.page {
  display: flex;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd; }

.page__column {
  flex: 1;
  border-left: solid 1px #ddd; }

.page__sidebar {
  width: 14rem;
  padding: 3rem;
  font-size: .875rem;
  flex-shrink: 0;
  line-height: 1.65em; }
  .page__sidebar p:last-child {
    margin-bottom: 0; }

.navigation {
  line-height: 1.65em;
  text-transform: uppercase;
  margin-left:0;
  letter-spacing: 0.08em;
  text-rendering: optimizeLegibility;
  list-style: none;
  padding: 0;
  text-transform: uppercase; }
  .navigation li {
    list-style: none;
    margin-bottom: 1rem; }
  .navigation a {
    border-color: transparent; }
    .navigation a:hover {
      border-color: #222; }

.caps,
strong,
.interview .name {
  font-size: .875em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 700; }

.caps {
  font-weight: normal; }

.archive {
  font-variant-numeric: tabular-nums; }
  .archive a {
    font-size: 1rem; }

.archive__date {
  color: #a1a2a3;
  white-space: nowrap;
  font-size: .875rem; }

.footnotes {
  font-size: .875rem;
  padding: 0;
  line-height: 1.65em;
  margin: 2.25rem 0;
  margin-bottom: 0;
  border-top: solid 2px #f5f7f9;
  font-style: italic; }
  .footnotes > hr {
    display: none; }
  .footnotes ol {
    padding: 1rem;
    margin: 0; }
    .footnotes ol a {
      border-color: rgba(0, 0, 0, 0.12); }
    .footnotes ol:before {
      content: "Footnotes";
      display: none;
      padding: 0 1rem;
      position: relative;
      left: -.5rem;
      border-radius: 4px;
      color: #525252;
      top: -.75rem;
      background: white; }
  .footnotes li {
    margin-bottom: 1em; }
    .footnotes li:last-child {
      margin-bottom: 0; }

.term {
  font-weight: bold; }

.interview {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem; }

.canonical-link {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: .875rem;
  font-weight: 500; }

.canonical-link--post,
.canonical-link--homepage {
  opacity: .4;
  border: 0;
  color: #222; }

.canonical-link--homepage:hover {
  opacity: 1; }

.canonical-link--post {
  display: inline; }

.pagination {
  padding: 3rem;
  line-height: 1.65em;
  color: #525252; }
  .pagination .caps {
    letter-spacing: 0.08em;
    padding-bottom: .5rem;
    color: #a1a2a3; }

.pagination-older {
  margin-bottom: 1.5rem; }

.interview h1,
.interview h2,
.interview h3,
.interview .name,
.interview strong,
.interview .name {
  margin-left: -1.5rem; }

.heart {
  background-color: #FCCA75;
  display: inline-block;
  height: 6px;
  margin: 0 4px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 6px; }

.heart:before,
.heart:after {
  content: "";
  background-color: #FCCA75;
  border-radius: 50%;
  height: 6px;
  position: absolute;
  width: 6px; }

.heart:before {
  top: -3px;
  left: 0; }

.heart:after {
  left: 3px;
  top: 0; }

.headline-space {
  display: none; }

.headline-nbsp {
  display: inline; }

@media (max-width: 52rem) {
  html {
    font-size: 14px; }

  article,
  .pagination,
  .menu,
  .header,
  .page__sidebar {
    padding: 1.5rem 1rem; }

  .header {
    padding: 1.5rem 1rem 3rem;
    margin-top: 0; }

  .header-navigation-jump {
    display: block; }

  .wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 100%; }

  .page {
    flex-direction: column;
    border-top: 0; }

  .page__column {
    border: 0;
    order: 0; }

  .page__sidebar {
    width: auto;
    margin: 0;
    order: 1; }

  ul,
  ol {
    padding-left: 1.5rem;
    list-style-position: initial; } }
@media (max-width: 420px) {
  .byline__name {
    display: none; }

  .byline__initials {
    display: inline; } }

/*# sourceMappingURL=audacious.css.map */
