html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
.interview .name,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Copyright K.Q. Dreger
  Update: AF 1.19
*/
/*
  Start Styles
*/
::selection {
  background: #d5dee6; }

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

html {
  font-size: 18px;
  text-rendering: optimizeLegibility; }

body {
  line-height: 1.5em;
  margin: 0;
  color: #3a3b3c;
  font-family: "system-ui", -apple-system, Helvetica, Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility; }

a {
  color: #3a3b3c;
  border-bottom: solid 1px #a1a2a3;
  border-bottom: 2px solid #f0f0f0;
  text-decoration: none; }
  a:hover {
    border-bottom-color: #3a3b3c; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
img,
ul,
ol,
aside,
blockquote,
.highlighter-rouge {
  margin-bottom: 1em; }

.navigation {
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
  line-height: 1.25em;
  text-transform: none;
  font-weight: 900;
  letter-spacing: 0px; }

h2 {
  margin-top: 2.25rem;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: 500;
  font-weight: 900; }
  h2.link {
    margin-top: 0; }

h3 {
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: .5rem;
  font-weight: bold; }

img {
  display: block;
  border-radius: 4px;
  width: 100%; }

em figcaption {
  font-style: normal; }
em img {
  width: calc(100% + 10rem);
  margin: 1.5rem 0; }

small {
  font-size: .875rem;
  line-height: 1em; }

ul,
ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem; }

ul li {
  list-style: square; }

ol li {
  list-style: decimal; }

li {
  margin-bottom: .5em; }

hr {
  height: 1px;
  border: 0;
  border-top: 2px dashed #f5f7f9;
  margin: 1.5rem 0;
  display: block; }

article {
  background: white;
  padding: 3rem;
  max-width: 34rem; }

article:first-child {
  margin-top: 0; }

article p:last-child,
article blockquote:last-child {
  margin-bottom: 0; }

.article-break {
  display: block;
  height: 2px;
  background: #f5f7f9;
  width: 100%; }

aside {
  width: 40%;
  float: right;
  margin: 0 0 1.25rem 1.25rem;
  padding: .5rem 0 0;
  font-size: .875rem;
  color: #777;
  line-height: 1.5em;
  border-top: solid 2px #f5f7f9; }

sup {
  margin: 0 2px 0 0;
  line-height: 1em; }

sub {
  margin: 0 0 0 2px;
  line-height: 1em;
  font-size: smaller;
  vertical-align: sub; }

code {
  padding: 2px 8px;
  font-size: .875rem;
  border-radius: 10px;
  background: #e8edf1;
  font-family: monospace; }

pre {
  white-space: pre-wrap;
  font-size: .875rem;
  border-width: 1px;
  background: #f5f7f9;
  border-color: #c5c6c7;
  border-style: dashed;
  padding: .5rem .5rem;
  line-height: 1.5em; }

pre code {
  padding: initial;
  border: 0; }

blockquote {
  padding: .25rem 1.5rem;
  margin-left: .25rem;
  border-left: solid 4px #3a3b3c; }

blockquote strong {
  text-transform: none;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: bold; }

figure {
  margin-bottom: 1.5rem; }
  figure img {
    margin-bottom: .5rem; }
  figure figcaption {
    font-size: .875rem;
    line-height: 1.5em;
    color: #525252; }

.header a,
h1 a {
  border-color: transparent;
  color: #3a3b3c; }
  .header a:hover,
  h1 a:hover {
    border-color: #3a3b3c; }

.title {
  font-weight: 500;
  margin-bottom: 3rem; }

.byline {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 1.5rem; }

.byline-name {
  text-transform: uppercase;
  letter-spacing: 0.08em; }

.menu {
  display: block; }

.menu-toggle {
  color: #a1a2a3;
  margin-left: auto;
  display: none;
  cursor: pointer; }

.wrapped {
  margin: 0 auto;
  display: flex;
  background: white; }

.column {
  flex: 1;
  min-height: 100vh;
  border-left: solid 2px #f5f7f9; }

.sidebar {
  color: #525252;
  border-radius: 8px 8px 0 0;
  line-height: 1.5em;
  padding: 3rem;
  width: 300px; }
  .sidebar p:last-child {
    margin-bottom: 0; }

.sidebar figure {
  margin-bottom: 2.25rem; }
  .sidebar figure img {
    height: auto;
    width: 120px;
    border-radius: 3px;
    display: block;
    margin-bottom: .5rem; }
    .sidebar figure img:hover {
      opacity: .95; }

.navigation {
  list-style: none;
  padding: 0;
  text-transform: uppercase; }

.navigation li {
  list-style: none;
  margin-bottom: 1rem; }

.caps,
strong,
.interview .name {
  font-size: .875em;
  line-height: 1em;
  font-family: "system-ui", -apple-system, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 500; }

.caps {
  font-weight: normal; }

.archive {
  padding-left: 2.25rem;
  font-variant-numeric: tabular-nums; }
  .archive a {
    font-size: 1rem; }
  .archive li {
    color: #525252; }

.footnotes {
  font-size: .875rem;
  padding: 0;
  line-height: 1.5em;
  margin: 2.25rem 0;
  margin-bottom: 0;
  border: solid 2px #f5f7f9;
  background: #f5f7f9;
  border-radius: 4px; }
  .footnotes > hr {
    display: none; }
  .footnotes ol {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    margin: 1rem 0; }
    .footnotes ol a {
      border-color: #a1a2a3; }
    .footnotes ol:before {
      content: "Footnotes";
      display: none;
      padding: 0 .5rem;
      position: relative;
      left: -.5rem;
      border-radius: 4px;
      color: #525252;
      top: -.75rem;
      background: white; }
  .footnotes li {
    margin-bottom: 1em; }

.term {
  font-weight: bold; }

.interview {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem; }

.canonical-link {
  font-weight: 900;
  opacity: .4; }
  .canonical-link a {
    border: 0; }
  .canonical-link a:hover {
    opacity: 1; }

.canonical-link--post {
  display: inline; }

.pagination {
  padding: 3rem;
  line-height: 1.5em;
  color: #525252;
  border-radius: 4px;
  font-weight: 500;
  background: white;
  font-weight: 500; }
  .pagination .caps {
    letter-spacing: 0.08em;
    padding-bottom: .5rem;
    color: #a1a2a3;
    font-weight: 500; }

.pagination-older {
  margin-bottom: 1.5rem; }

.interview h1,
.interview h2,
.interview h3,
.interview .name,
.interview strong,
.interview .name {
  margin-left: -1.5rem; }

.heart {
  background-color: #00BBBB;
  display: inline-block;
  height: 7px;
  margin: 0 4px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 7px; }

.heart:before,
.heart:after {
  content: "";
  background-color: #00BBBB;
  border-radius: 50%;
  height: 7px;
  position: absolute;
  width: 7px; }

.heart:before {
  top: -4px;
  left: 0; }

.heart:after {
  left: 4px;
  top: 0; }

.headline-space {
  display: none; }

.headline-nbsp {
  display: inline; }

@media (max-width: 800px) {
  html {
    font-size: 16px; }

  .menu-toggle {
    display: block; }

  .menu {
    display: none;
    background: #f5f7f9;
    border-radius: 4px;
    padding: 1rem; }

  .menu--visible {
    display: block; }

  .sidebar {
    width: auto;
    padding: 1rem; }

  .pagination {
    padding: 3rem 1rem; }

  .wrapped {
    flex-direction: column;
    padding: 0;
    max-width: 400px; }

  .column {
    border: 0; }

  .header {
    padding: 0; }

  .title {
    font-size: 1.5rem;
    margin-bottom: .5rem; }

  article {
    padding: 3rem 1rem; }

  aside {
    width: 100%;
    margin: 0 0 1.25rem; }

  blockquote {
    padding: 0 1rem; }

  em img {
    margin-left: 0;
    width: 100%;
    border: 0; } }
@media (max-width: 321px) {
  .title {
    display: block; } }

/*# sourceMappingURL=audacious.css.map */
