html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
.interview .name,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Variables
*/
/*
  Start Styles
*/
* {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

html {
  font-size: 12px; }

body {
  line-height: 1.65em;
  margin: 0;
  background: #f5f6f7;
  color: #141414;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 400; }

a {
  color: #141414;
  text-decoration: none;
  border-bottom: solid 1px #d1d2d3; }
  a:hover {
    border-color: #141414; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
img,
ul,
ol,
aside,
blockquote,
.highlighter-rouge {
  margin-bottom: 1.5em; }

h1,
h2,
header,
.navigation,
.canonical-link {
  line-height: 1.65em;
  text-transform: uppercase;
  letter-spacing: 0.12em; }

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.65em;
  text-transform: none;
  letter-spacing: 0px; }

h2 {
  margin-bottom: 1rem;
  margin-top: 2.25rem;
  font-size: 1rem;
  line-height: 1.65em; }

h3 {
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: .5rem;
  font-weight: bold; }

img {
  display: block;
  width: 100%; }

em figcaption {
  font-style: normal; }
em img {
  width: 40rem;
  margin: 1rem 0 1rem -2.25rem; }

small {
  font-size: .875rem;
  line-height: 1em; }

ul,
ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem; }

ul li {
  list-style: square; }

ol li {
  list-style: decimal; }

li {
  margin-bottom: .5em; }

hr {
  height: 1px;
  border: 0;
  border-top: 2px solid #f5f6f7;
  margin: 1.5rem 0;
  display: block; }

article {
  background: white;
  position: relative;
  border-radius: 4px; 
  margin-bottom: 1rem;
  padding: 2rem 2.25rem 2rem; }
  article:last-child {
    border-bottom: 0; }

article:first-child {
  margin-top: 0; }

article p:last-child,
article blockquote:last-child {
  margin-bottom: 0; }

aside {
  width: 40%;
  float: right;
  margin: 0 0 1.25rem 1.25rem;
  padding: .5rem 0 0;
  font-size: .875rem;
  color: #777;
  line-height: 1.65em;
  border-top: solid 2px #f5f6f7; }

sup {
  margin: 0 2px 0 0;
  line-height: 1em; }

sub {
  margin: 0 0 0 2px;
  line-height: 1em;
  font-size: smaller;
  vertical-align: sub; }

code {
  padding: 2px 4px;
  background: #f5f6f7;
  font-family: monospace; }

pre {
  white-space: pre-wrap;
  font-size: .875rem;
  border-width: 1px;
  background: #f5f6f7;
  border-color: #c5c6c7;
  border-style: dashed;
  padding: .5rem .5rem;
  line-height: 1.65em; }

pre code {
  padding: initial;
  border: 0; }

blockquote {
  padding: 0 2.25rem;
  border-radius: 4px; }

blockquote strong {
  text-transform: none;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: bold; }

figure {
  margin-bottom: 1.5rem; }
  figure img {
    margin-bottom: .5rem; }
  figure figcaption {
    font-size: .875rem;
    line-height: 1.65em;
    color: #8a8a8a; }

.header {
  font-size: 1rem;
  padding: 2.25rem 2.25rem 2rem; }

.header a,
.navigation a,
h1 a {
  border-color: transparent;
  color: #141414; }
  .header a:hover,
  .navigation a:hover,
  h1 a:hover {
    border-color: #141414; }

.title {
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
  font-weight: bold;
  display: inline;
  font-size: 1rem;
  letter-spacing: 0.12em; }

.byline {
  display: inline;
  line-height: 1em;
  color: #8a8a8a; }
  .byline a {
    color: #8a8a8a; }
  .byline .slash {
    display: none; }
  .byline .by {
    display: inline; }

.wrapped {
  margin: 4rem auto;
  max-width: 54rem; }

.container {
  display: flex; }

.column {
  max-width: 40rem; }

.sidebar {
  width: 14rem;
  flex-shrink: 0;
  font-size: .875rem;
  line-height: 1.65em;
  padding: 2.25rem 0 2.25rem 2.25rem; }

.navigation {
  list-style: none;
  padding: 0;
  text-transform: uppercase; }

.navigation li {
  list-style: none; }

.link {
  margin-top: 0; }

.caps,
strong,
.interview .name {
  font-size: .875em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: 600; }

.archive {
  padding-left: 2.25rem;
  font-size: .875rem; }
  .archive a {
    font-size: 1rem; }
  .archive h2, .archive li {
    color: #8a8a8a; }

.archive small {
  color: #777; }

.footnotes {
  font-size: .875rem;
  padding: 0;
  line-height: 1.65em;
  margin-top: 0rem;
  margin: 2.25rem 0;
  border-top: solid 2px #f5f6f7; }
  .footnotes > hr {
    display: none; }
  .footnotes ol {
    padding-left: 2.25rem;
    padding-right: 2.25rem; }
    .footnotes ol:before {
      content: "Footnotes";
      padding: 0 .5rem;
      position: relative;
      left: -.5rem;
      color: #8a8a8a;
      top: -.75rem;
      background: white; }
  .footnotes li {
    margin-bottom: 1em; }

.term {
  font-weight: bold; }

.interview {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem; }

.canonical-link {
  font-size: .875rem;
  line-height: 1em;
  color: #8a8a8a;
  border-color: transparent;
  text-transform: uppercase; }
  .canonical-link:hover {
    color: #141414;
    border: 0; }

.pagination {
  line-height: 1.65em;
  color: #8a8a8a;
  padding-top: 4.5rem; }
  .pagination .caps {
    letter-spacing: 0.12em;
    padding-bottom: .5rem; }

.interview h1,
.interview h2,
.interview h3,
.interview .name,
.interview strong,
.interview .name {
  margin-left: -1.5rem; }

.index-end {
  padding: 2.25rem;
  color: #8a8a8a; }

.christmas-lights {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
  display: none;
  margin-bottom: 1rem;
  border-top: dotted 1px #d1d2d3; }
  .christmas-lights > div {
    height: 4px;
    animation: glowing 3s infinite;
    width: 4px;
    border-radius: 0px;
    background: #e02a15;
    box-shadow: 0 0 3px #e02a15; }
    .christmas-lights > div:nth-child(2n) {
      animation: glowing 4s infinite;
      background: #15a115;
      box-shadow: 0 0 3px #15a115;
      margin-top: -.25rem; }

@keyframes glowing {
  0% {
    opacity: 1; }
  50% {
    opacity: .5;
    box-shadow: 0 0 2px #ddd; }
  100% {
    opacity: 1; } }
@media (max-width: 700px) {
  html {
    font-size: 16px; }

  .wrapped {
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    max-width: 32rem; }

  .container {
    display: block; }

  blockquote {
    padding: 0 1.5rem; }

  .title {
    font-size: .875rem; }

  .sidebar {
    flex-shrink: initial;
    width: initial; }

  .header,
  .sidebar {
    padding: 1.5rem 1.5rem .875rem;
    margin: 0 0; }

  .header {
    padding-bottom: 1rem;
    background: white;
    font-size: .875rem; }

  .byline .by {
    display: none; }
  .byline .slash {
    display: inline; }

  .navigation-jump {
    display: block;
    float: right;
    margin-left: auto;
    margin-top: -.25rem; }

  .column {
    max-width: 100%; }

  .index-end {
    display: none; }

  article {
    padding: 2.25rem 1.5rem;
    border-radius: 0;
    border-bottom: solid 4px #f5f6f7;
    margin: 1rem 0; }

  article:first-child {
    margin-top: 0; }

  aside {
    width: 100%;
    margin: 0 0 1.25rem; }

  em img {
    margin-left: 0;
    width: 100%;
    border: 0; } }
@media (max-width: 340px) {
  html {
    font-size: 14px; }

  .by {
    display: none; } }

/*# sourceMappingURL=audacious.css.map */
