@charset "UTF-8";
@import "reset"; 

/*
  Copyright K.Q. Dreger
  Update: AF 1.19
*/ 

 
// SPACING

$line-height: 1.65em; 
$letter-spacing: .08em; 
$max-width: 62rem;
$font-size: 12px; 
// FONTS
// @font-face {
//     font-family: 'Concourse T3 Bold';
//     src: url('../fonts/concourse_t3_bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
// @font-face {
//     font-family: 'Concourse T3';
//     src: url('../fonts/concourse_t3_regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

$sans: "Gotham SSm A", "Gotham SSm B", "system-ui", -apple-system, Helvetica, Arial, sans-serif; 

// COLORS

$link: #B0976D; // Old Gold
$link: #0ed3c8; // Tealicious
$link: #795AE1; // Deep Purple
$link: #FE3366; // Think Pink
$link: #1968FF; // Bright Blue
$link: #6B8EB7; // Jeans
$link: #ff8600; // Quantum Gold 
$link: #645394; // MDS Purple
$link: rgb(39, 110, 241); // BlUber
$link: #FFDC00; // Light Orangish Red
$link: #00BBBB; // Soft Teal
$link: #FF725C; // Light Red

$copy: #222; // Also: RGBA(52, 60, 71, 1);
$faded: #777; 
$light-gray: #a1a2a3; 
$light-light-gray: #ddd; 
$gray: #525252; 
$bg: #f5f7f9; 
$article-bg: white; 
$heart-color: $link; 


/*
  Start Styles
*/
 
::selection {
  background: darken($bg, 10%);
}

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

html {
  font-size: $font-size; 
  text-rendering: optimizeLegibility;
}

body {
  line-height: $line-height;
  margin: 0;
  background: $bg; 
  color: $copy; 
  font-family: $sans; 
  font-style: normal;
  text-rendering: optimizeLegibility;
}

a {
  color: $copy; 
  border-bottom: 2px solid rgba(0,0,0,.08);
  text-decoration: none;  
  &:hover { 
    border-bottom-color: $copy; 
    // text-decoration: underline;
  }
}

em {
  font-style: italic; 
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
img,
ul,
ol,
aside,
blockquote,
.highlighter-rouge {
  margin-bottom: 1em; 
}


h1 {
  font-size: 2.25rem; 
  margin-bottom: 1.25rem; 
  line-height: 1.25em; 
  text-transform: none; 
  font-weight: 400; 
  line-height: 1.4em;
  letter-spacing: -.02em; 
  a { border: 0; }
}

h2 {
  margin-top: 2.25rem;
  font-size: 1.25rem;
  line-height: $line-height;
  font-weight: 400; 
  // text-transform: uppercase;
  // letter-spacing: $letter-spacing; 
  &.link {
    margin-top: 0; 
  }
}

h3 {
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: .5rem; 
  font-weight: bold; 
}

img {
  display: block;
  border-radius: 4px; 
  width: 100%; 
}

em {
  figcaption { 
    font-style: normal; 
  }
  img {
    width: calc(100% + 6rem);
    border-radius: 0; 
    margin: 1.5rem 0 1.5rem -3rem; 
  }
}

small {
  font-size: .875rem;
  line-height: 1em; }

ul,
ol {
  padding-left: 1.5rem; 
  margin-bottom: 1.5rem;
  // re: betterwebtype rythm's guide
  // padding-left: 0;
  // list-style-position: outside; 
}

ul li {
  list-style: square; }

ol li {
  list-style: decimal; }

li {
  margin-bottom: .5em; }

hr {
  height: 1px;
  border: 0;
  border-top: 2px solid $bg; 
  margin: 1.5rem 0;
  display: block;  
}

article {
  background: $article-bg;
  padding:  3rem; 
  // border-radius: 8px; 
  margin-bottom: .25rem;
}

article:first-child {
  margin-top: 0; }

article p:last-child,
article blockquote:last-child {
  margin-bottom: 0; }

aside {
  width: 40%;
  float: right;
  margin: 0 0 1.25rem 1.25rem;
  padding: .5rem 0 0;
  font-size: .875rem;
  color: $faded;
  line-height: $line-height;
  border-top: solid 2px $bg; 
}
  aside {
    width: 100%;
    margin: 0 0 1.25rem; }
  blockquote {
    padding: 0 1rem; 
  }


sup {
  margin: 0 2px 0 0;
  line-height: 1em; }

sub {
  margin: 0 0 0 2px;
  line-height: 1em;
  font-size: smaller;
  vertical-align: sub; }

code {
  padding: 2px 8px;
  font-size: .875rem; 
  border-radius: 10px; 
  background: darken($bg, 4%); 
  font-family: monospace; 
}

pre {
  white-space: pre-wrap;
  font-size: .875rem;
  border-width: 1px;
  background: $bg; 
  border-radius: 4px; 
  padding: 1.5rem;
  line-height: $line-height; }

pre code {
  padding: initial;
  border: 0; 
  background: transparent;
}

blockquote {
  color: $gray; 
  margin: 1.25rem; 
  width: 80%; 
}

blockquote strong {
  text-transform: none;
  font-size: 1rem;
  letter-spacing: 0; 
  font-weight: bold; 
}

blockquote ul:last-child {
  margin-bottom: 0; 
}

figure {
  margin-bottom: 1.5rem; 
  img { margin-bottom: .5rem; }
  figcaption { 
    font-size: .875rem; 
    line-height: $line-height;
    
    color: $gray; 
  }
}

// =================
// =================// =================
// =================
// =================
// =================
// =================
// =================
// =================
// =================
// =================

.wrapper {
  max-width: $max-width; 
  margin: 0 auto 3rem; 
}

.header {
  display: flex; 
  max-width: $max-width; 
  align-items: center; 
  padding: 3rem; 
  margin-top: 3rem;
}

.title { 
  font-weight: 600;
  a { 
    border: 0;  
    color: $copy; 
  }
}
.byline { 
  padding-left: .5rem; 
  opacity: .4; 
  font-weight: 500; 
}
.byline__initials { display: none; }

.title, .byline {
  font-size: 1rem; 
    text-transform: uppercase; 
  letter-spacing: $letter-spacing; 
  margin: 0; 
  line-height: 1rem;
}

.header-navigation-jump {
  opacity: .4; 
  line-height: 1em; 
  margin-left: auto;    
  display: none; 
  cursor: pointer; 
  border: 0; 
  &:hover {
    opacity: 1; 
  }
}

.page {
  display: flex; 
}


.page__column {
  flex: 1; 
}


.page__sidebar {
  width: 14rem; 
  padding: 3rem;
  font-size: .875rem; 
  flex-shrink: 0;
  line-height: $line-height;
  a {
    border-color: rgba(0,0,0,.12);
    &:hover { border-color: $copy; }
  }
  & p:last-child { margin-bottom: 0; }
}



.navigation {
  line-height: $line-height;
  text-transform: uppercase; 
  letter-spacing: $letter-spacing; 
  text-rendering: optimizeLegibility;
  list-style: none;
  padding: 0; 
  text-transform: uppercase;
  li {
    list-style: none; 
    margin-bottom: 1rem;
  }
  a {
    border-color: transparent;
    &:hover { border-color: $copy; }
  }
}

.caps,
strong,
.interview .name {
  font-size: .875em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: $letter-spacing; 
  font-weight: 700;
}

.caps {
  font-weight: normal; 
}

.archive {
  font-variant-numeric: tabular-nums; 
  a { font-size: 1rem; }
  li {
  }
}
.archive__date {
  color: $light-gray;
  white-space: nowrap; 
  font-size: .875rem; 
}

.footnotes {
  font-size: .875rem;
  padding: 0;
  line-height: $line-height;
  margin: 2.25rem 0; 
  margin-bottom: 0; 
  // background: $bg; 
  border-top: solid 2px $bg; 
  font-style: italic; 
  > hr { display: none; }
  ol {
    padding: 1rem; 
    margin: 0; 
    a { border-color: rgba(0,0,0,.12); }
    &:before {
      content: "Footnotes"; 
      display: none; 
      padding: 0 1rem; 
      position: relative; 
      left: -.5rem;
      border-radius: 4px;  
      color: $gray; 
      top: -.75rem; 
      background: white; 
    }
  }
  li {
    margin-bottom: 1em; 
    &:last-child { margin-bottom: 0; }
  }
}


.term {
  font-weight: bold; }

.interview {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem; }

.canonical-link {
  font-weight: normal; 
  // margin-top: .25rem;
  text-transform: uppercase; 
  letter-spacing: .08em; 
  font-size: .875rem; 
  font-weight: 500;  
}
.canonical-link--post,
.canonical-link--homepage { 
  opacity: .4; 
  border: 0; 
  color: $copy; 
}
 
.canonical-link--homepage:hover { opacity: 1; }
.canonical-link--post { display: inline; }

.pagination {
  padding: 3rem; 
  line-height: $line-height; 
  color: $gray; 
  background: white;  
  .caps {
    letter-spacing: $letter-spacing; 
    padding-bottom: .5rem; 
    color: $light-gray; 
  }
}
.pagination-older {
  margin-bottom: 1.5rem; 
}

.interview h1,
.interview h2,
.interview h3,
.interview .name,
.interview strong,
.interview .name {
  margin-left: -1.5rem; }


.heart {
  background-color: $heart-color;
  display: inline-block;
  height: 6px;
  margin: 0 4px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 6px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: $heart-color;
  border-radius: 50%;
  height: 6px;
  position: absolute;
  width: 6px;
}

.heart:before {
  top: -3px;
  left: 0;
}

.heart:after {
  left: 3px;
  top: 0;
}

.headline-space { display: none; }
.headline-nbsp { display: inline; }


@media (max-width: $max-width - 6rem) {
  html {
    font-size: 16px; 
  }
  article, 
  .pagination,
  .menu,
  .header,
  .page__sidebar {
    padding: 1.5rem 1rem;
  }
  .header {
    padding: 1.5rem 1rem 3rem;  
    background: white; 
    margin-top: 0; 
  }
  .header-navigation-jump {
    display: block; 
  }
  .wrapper {
    margin: 0 auto; 
    max-width: 100%; 
  }
  .page {
    flex-direction: column; 
  }
  .page__sidebar {
    width: auto; 
    margin: 0; 
  }
  ul,
  ol {
    padding-left: 1.5rem;
    list-style-position: initial;
  }
}
@media (max-width: 420px) {
  .byline__name { display: none; }
  .byline__initials { display: inline; }
}