---
---
@charset "utf-8";
@import 'normalize';


// ===============
// VARIABLES
// ===============

$color: #2dae76;
$color: #3497d0;
$color: #f7811b;
$color-copy: #242424;
$color-faded: #b6c0c3;
$color-sponsor: #fff5d8;
$color-hover: #d0d9dd;
$color-bg: #eee;
$max-width: 32rem;
$big-width: 140%;
$big-width-offset: -20%;
$line-height: 1.5em;
$sans: "San Francisco Text", "Open Sans", "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana;

// ===============
// Layouts
// ===============

* {
  box-sizing: border-box; 
}

html {
  font-size: 16px;
}

body {
  font-family: $sans;
  color: $color-copy;
  background-color: $color-bg;
  margin: 0; 
  padding: 0;
  line-height: $line-height;
}

.header {
  max-width: $max-width + 8rem;
  margin: 0 auto 6rem;
  padding: 0 1rem;
  text-align: center;
  color: $color-faded;
  a {
  }
}
.content {
  max-width: $max-width;
  margin: 0;
  background: white; 
  padding: 1rem;
  max-width: $max-width; 
  min-height: 100vh; 
}
.footer {
  margin-top: 3rem;
  font-family: $sans;
}


// ===============
// Generic elements
// ===============


h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-family: $sans;
  line-height: 1.1em;
  a:visited { color: $color; }
}

h1 {
  margin: 1rem 0;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: $color-faded;
  text-transform: uppercase;
  padding-bottom: .25rem;
  margin: 2rem 0 .5rem;
  border-bottom: solid 1px $color-hover;
  + p { margin-top: 0; }
}


a {
  color: $color;
  /* font-weight: bold; */
  &:visited {
    color: #777;
  }
  &:hover {
    color: lighten($color, 10%);
    border-bottom-color: lighten($color, 10%)
  }
}


ul {
  margin-left: 0;
  padding-left: 1.5rem;
  li {
    list-style: circle;
    margin: .25rem 0;
    padding-left: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

em img {
  max-width: $big-width;
  margin: 1rem inherit;
  margin-left: $big-width-offset;
}

blockquote {
  border-left: 3px double $color-hover;
  margin: 0;
  padding: 0 1rem;
  font-size: .95rem;
  margin-left: 1rem;
  line-height: $line-height;
}

pre {
  font-family: Menlo, Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
  border-radius: 3px;
  border: solid 1px $color-hover;
  padding: 1rem;
  code {
    border: none;
    padding: 0;
  }
}

code {
  font-size: .9rem;
  border: solid 1px $color-hover;
  padding: 0 .15rem;
  border-radius: 3px;
}


iframe {
  display: block;
  margin: 1rem 0;
}


hr {
  background-color: $color-hover;
  width: 100%;
  margin: 2.25rem auto;
  border: none;
  height: 1px;
  + ol {
    font-size: .9rem;
    line-height: 1.4em;
  }
}

hr.double {
  @extend hr;
  background-color: $color-bg;
  border-top: 1px solid $color-hover;
  border-bottom: 1px solid $color-hover;
}



// ===============
// Admin styles
// ===============

label { cursor: pointer; }

.button {
  font-family: "Lucida Grande","Helvetica Neue",helvetica,arial,sans-serif;
  font-size: 11px;
  line-height: 16px;
  padding: 2px 10px;
  margin: -1px 0px 0px;
  background: none repeat scroll 0% 0% #FFF;
  color: #000;
  border: 1px solid #CCC;
  vertical-align: top;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 1px 0px #DDD;
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
  }
}

.post-form {
  border: solid 1px $color-hover;
}

.post-form-title,
.post-form-link,
.post-form-body,
.post-form-date,
.post-form-slug,
.post-form-actions {
  width: 100%;
  overflow: auto;
  outline: none;
  border: none;
  border-bottom: solid 1px #eee;
  margin:  0;
  padding: .75rem;
  box-sizing: border-box;
  resize: none;
}

.post-form-published { float: left; }
.post-form-submit { float: right; }

.post-form-title {
  font-weight: bold;
  font-size: 1.1rem;
}

// ===============
// Post styles
// ===============

.post-header {
  margin: 0;
}

.post-title {
  @extend h1;
  margin-bottom: 0;
}

.post-link {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1.4em;
  &:first-child { margin-top: 0; }
}

.post-meta {
  margin: 1rem 0 0;
  display: inline-block;
  color: #aaa;
  border: none;
  text-decoration: none;
  &:hover {
    color: $color;
  }
}

.archive-list  {
  padding-left: 0;
  li {
    margin: .5rem 0;
    list-style: none;
  }
}


// ===============
// Misc.
// ===============

.index-date {
  text-transform: uppercase;
  color: #aaa;
  font-size: .9rem;
  letter-spacing: 1px;
  text-align: center; 
}

.title {
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: bold;
}

article {
  position: relative;
  margin: 2rem 0;
}

.article-date {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: normal;
  line-height: 1em;
  margin: .5rem 0;
  letter-spacing: 1px;
  a {
    color: #aaa;
    font-weight: normal;
    text-decoration: none;
    &:hover { color: $color; }
  }
}

.archive-list-date {
  display: block;
  color: $color-faded;
}

.faded {
  color: $color-faded;
}

.announcement {
  margin-top: 2rem;
  line-height: 1.4em;
  border: dotted 1px darken($color-sponsor, 25%);
  background-color: $color-sponsor;
  border-radius: 5px;
  padding: .5rem .75rem;
  font-size: .9rem;
}


.small-image {
  max-width: 70%;
  margin: 0 auto;
  display: block;
}

.caption {
  font-size: .9rem;
  margin-top: 0;
  text-align: center;
}

.soundcloud {
  height: 140px;
}

.js-toggle-lights {
  border-bottom: none;
  &:hover { background-color: inherit; }
}

@media print {
  body {
    font-size: 16px;
  }
  a {
    color: $color-copy;
    border-bottom: 1px solid $color-copy;
  }
}

@media screen and (max-width: $max-width + 20rem) {
  em img {
    max-width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 15px;
  }
}
