---
---
@charset "utf-8";

/*
  Designed by Kyle Dreger.

  An amalgamation of parts of the web that I admire. Includes:
  - couldal.com
  - daringfireball.net
  - kottke.org
  - pxlnv.com
  - signalvnoise.com
  - fivethirtyeight.com

  On the shoulders of giants, so they say.
*/

$max-width: 48rem;
$max-width-copy: 32rem;
$max-width: 30rem;
$line-height: 1.45em;
$font-size-small: .9rem;
$sans: "Proxima Nova", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$serif: Charter, Georgia, serif;

$color-teal: #79BD9A; // teal
$color: rgb(0, 0, 255); // blue
$color: #fed464; // nyt insider
$color: #4acc89; // teal
$color: #2fb88b;
$color: #2282e2; //nyt blue  
$color: #ffb000; // gold
$color-darker: darken($color, 10%);
$color-header-bg: #f5f7fa; 
$color-header-bg: #faf8f5; 
$color-bg: #fefefe;
$color-bg: darken($color-header-bg, 10%);
$color-bg: $color-header-bg; 
$color-bg: #f3f3f3;
// $color-bg: #F5EFE6;
$color-copy: #222;
$color-faded: #afafaf;
$color-really-faded: #dedede;

* {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  font-size: 17px;
}
body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: $color-copy;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-family: $sans;
    line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
ol,
ul {
  margin: 0 0 1rem 0;
}

h1,
h2,
h3 { font-family: $sans; }

h1 {
  font-size: 1.2875rem;
  font-size: 1.4875rem;
  font-size: 1rem;
  line-height: 1.1em;
  font-weight: 900;
  font-weight: 700;
  font-style: normal;
}

h2 { 
  @extend .small-caps; 
  font-size: 1rem;
  line-height: 1.1em;
  font-weight: normal;
  margin: 2rem 0 1rem 0;
}

h3 {
  margin-bottom: .25rem;
  line-height: 1.1em;
  font-size: .9rem;
}

img {
  width: 100%;
  display: block;
  position: relative;
}

blockquote {
  padding: 1.5rem;
  background: $color-bg; 
  blockquote {
    background: darken($color-bg, 5%); 
    margin: 1rem 0; 
    padding: 1rem; 
  }
  > p { margin-bottom: 0; }
  + blockquote {
    margin-top: -1rem;
    padding-top: 1rem; 
  }
}

pre {
  overflow: scroll;
  background: $color-really-faded;
  padding: .5rem;
  line-height: 1.1em;
  font-size: $font-size-small;
}

code {
  background: $color-really-faded;
}

ol,
ul {
  padding-left: 1.25em;
}

ul li { list-style: square; }

hr {
  height: 1px;
  background: none;
  border: none;
  display: block;
  margin: 1rem 0;
  border-top: solid 1px $color-really-faded;
}

hr + ol {
 font-size: $font-size-small;
  li {
    margin-bottom: .5em;
    line-height: $line-height;
  }
}

a {
  text-decoration: none;
  color: $color;
  &:hover {
    text-decoration: underline; 
  }
  // &:visited { color: #8e49c3; }
}

.wrapper {
  max-width: $max-width;
  margin: 4rem auto 0;
  // display: flex; 
  min-height: 100vh;
  // border: solid 1px $color-really-faded; 
  // border-left: 0; 
  // border-bottom: 0; 
}

.header,
.page,
.footer {
  padding: .75rem;
}

.page { 
  margin-left: .25rem; 
  padding: 0;
}

.header {
  padding: 1rem 1.5rem;
  font-family: $sans;
  margin: 0;
  text-align: center; 
  height: 100%; 
  order: 1; 
  border-top: solid 1px $color-really-faded; 
  margin: 0; 
}

.content {
  flex: 0 1 auto;
  order: 2; 
  // width: 75%;
}

.navigation {
  color: $color-faded;
  font-size: $font-size-small;
  margin: 0; 
  padding: 0;
  li { 
    list-style: none; 
    display: block; 
    margin: 0;
    padding: .75rem 0; 
    line-height: 1em;
    &:first-child { margin-top: 0; }
  }
  a {
    @extend .small-caps;
    // color: $color-faded;
    text-decoration: none;
  }
}

.footer {
  color: $color-faded;
  font-size: $font-size-small;
  font-family: $sans;
  border-top: solid 4px $color-header-bg;
  line-height: 1.75em;
  
}


.site-header {
  max-width: $max-width; 
  margin: 0 auto 1rem;  
  display: flex; 
  background: #F7F7F7; 
  padding: 1.25rem 1rem; 
  // border-bottom: solid 1px $color-really-faded; 
}

.site-title {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0; 
  line-height: 1em; 
}

.byline {
  line-height: 1em; 
  margin-bottom: 0;
  color: $color-faded; 
  margin-left: auto; 
}

.article {
  padding: .75rem 0; 
  margin-left: 1rem;
  border-bottom: solid 1px $color-really-faded;
  &:first-of-type { padding-top: 0; }
  &:last-of-type { 
    border-bottom: 0;
  }
}

.article-header {
  font-family: $sans; 
  display: flex; 
  line-height: 1.2875em;
}

.article-header,
.article-content {
  padding: 0 1rem 0 .75rem;
  padding-left: .1rem;
}

.article-content {

}

.headline {
  font-size: 1rem; 
  padding: 0; 
  line-height: 1.2875em;
  margin: 0;
}

.headline-date {
  margin: 0; 
  font-size: 1rem; 
  color: $color-faded; 
  line-height: 1.2875em;
  margin-left: auto; 
  flex-shrink: 0; 
  padding-left: 1rem;
}

.headline-briefing {
  // @extend .small-caps; 
  font-size: 1rem !important;  
}

.dateline {
  @extend .small-caps; 
  color: $color-faded;
  position: relative;  
  font-weight: normal; 
  text-align: center; 
  padding: .5rem 0;
  margin: 0;
  font-family: $sans; 
  line-height: 1em; 
  &:first-of-type { display: none; }
}

.date {
  text-transform: none; 
  letter-spacing: 0; 
  margin: 1rem 0 0; 
  letter-spacing: 0; 
  color: $color-faded; 
}

.archive {
  li { margin-bottom: 1rem; }
  small {
    display: block; 
    font-size: $font-size-small; 
    color: $color-faded; 
  }
}

.interview {
  margin-left: 1.5rem; 
  h1,
  h2,
  h3,
  .name {
    margin-left: -1.5rem; 
  }
  .name { @extend .small-caps; }
}

.faded { color: $color-faded; }
.link-source {}
.small-caps {
  text-transform: uppercase; 
  letter-spacing: .1em;
  font-size: $font-size-small; 
}

#light-switch {
  cursor: pointer; 
  color: $color-faded;  
  text-decoration: underline; 
  // font-size: 1.5rem; 
  // display: block; 
}

strong {
  @extend .small-caps; 
}


@media (max-width: 800px) {
  html {
    font-size: 16px; 
  }
  .wrapper {
    display: inherit; 
    // padding: 1rem;
    margin: 0 auto;  
    border: none; 
  }
  .site-header { 

    // h1 { font-size: 1.75rem; }
  }
  .header {
    padding: 1.5rem 0; 
    margin: 1rem 0; 
    width: 100%; 
  }
  .content, .header {
    width: 100%; 
    max-width: 30rem;
    margin: 0 auto 3rem; 
  }
}


$night-color: #79BD9A; 
$night-hover: #444; 
$night-color-faded: #a8a8a8; 
$night-copy: #eeeeee; 
$night-color-light: lighten($night-color, 15%);
$night-color-dark: darken($night-color, 15%);

$night-a: #3A3F43; 
$night-b: #2E3337; 


.night {
  a {
    color: $color-teal; 
  }
  
  body {
    color: $night-copy; 
    background: $night-a; 
  }
  .article, 
  .header,
  .page {
    background: $night-b;
    border: none; 
  }

  blockquote {
    background: $night-a;
  }

  .article-header {
    border-color: $night-a;
  }  
}
