@charset "UTF-8";
@import "reset"; 

/*
  Copyright K.Q. Dreger
  Update: AF 1.4
*/ 

:root {
  --link: #FFC200;
  --font-bold: 500; 
  --bg: #fff;
  --bg-article: #fff; 
  --copy: #141414;
  --gray: #707070;
  --light-gray: #a1a2a3; 
  --lightest-gray: #dddddd; 
  --box-shadow: rgba(100,100,100,.12);
  --width-column: 50rem; 
  --width-sidebar: 12rem;
  --content-padding: 4rem;
  --line-height: 1.6; 
  --letter-spacing: .04em; 
  --max-width: 38rem; 
  --font-size: 12px; 
}
.night-theme {
  --link: #50E3C2;
  --bg: #191B2B;
  --copy: #ccc;
  --gray: rgba(255,255,255,.2);
  --light-gray: rgba(255,255,255,.2); 
  --lightest-gray: rgba(255,255,255,.2); 
}


::selection,
code {
  background: #f8f8f8;
}
:focus {
  outline: 2px dashed var(--link);
  border: 0;
}


* {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

  html {
    font-size: var(--font-size); 
    text-rendering: optimizeLegibility;
  }

  body {
    line-height: var(--line-height);
    margin: 0;
    background: var(--bg);
    color: var(--copy); 
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-style: normal;
    font-weight: 400;
    font-feature-settings: 'kern' 1;
    // background: #f8f8f8; 
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' 1;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga","tnum","case","calt","zero","ss01","locl";
    -webkit-text-size-adjust: 100%;
  }

  a {
    color: var(--copy); 
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 1.5px; 
    text-decoration-color: #ddd;
    text-decoration-color: var(--link); 
    &:hover { 
      text-decoration-color: var(--copy); 
    }
  }

  em {
    font-style: italic; 
  }

  strong {
    font-weight: var(--font-bold);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  img,
  ul,
  ol,
  aside,
  blockquote,
  .highlighter-rouge {
    margin-bottom: 1.25em; 
  }


  h1 {
    font-size: 1.5rem; 
    margin-bottom: 1.25rem; 
    font-weight: var(--font-bold);
    line-height: 1.25em;
    text-transform: none; 
    a { text-decoration-color: transparent; }
  }

  h2 {
    font-size: 1.25rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: var(--font-bold);
    line-height: var(--line-height);
    &.link {
      margin-top: 0; 
    }
  }

  h3 {
    font-size: 1rem;
    margin-top: 2.25rem;
    margin-bottom: .5rem; 
    font-weight: var(--font-bold);
    font-weight: var(--font-bold);
    text-transform: uppercase; 
    letter-spacing: var(--letter-spacing); 
  }

  img {
    display: block;
    border-radius: 4px; 
    width: 100%; 
  }

  em {
    figcaption { 
      font-style: normal; 
    }
    img {
      width: calc(100% + 6rem);
      border-radius: 0; 
      margin: 1.5rem 0 1.5rem -3rem; 
    }
  }

  small {
    font-size: .875rem;
    line-height: 1em; }

    ul,
    ol {
      padding-left: 1.5rem; 
      margin-bottom: 1rem;
    }

    ul li {
      list-style: square; }

      ol li {
        list-style: decimal; }

        li {
          margin-bottom: .5em; 
          padding-left: .5rem; 
        }

        hr {
          height: 1px;
          border: 0;
          border-top: 1px dotted var(--lightest-gray);  
          margin: 1.5rem 0; 
          display: block;  
        }

        article {
          padding:  var(--content-padding); 
          border-bottom: solid 2px var(--bg); 
          background: var(--bg-article);
          border-bottom: solid 2px #f8f8f8;
          &:last-child { border: 0; }
        }

        article:first-child {
          margin-top: 0; }

          article p:last-child,
          article blockquote:last-child {
            margin-bottom: 0; }

            aside {
              width: 40%;
              float: right;
              margin: 0 0 1.25rem 1.25rem;
              padding: .5rem 0 0;
              font-size: .875rem;
              color: var(--gray);
              line-height: var(--line-height);
              border-top: solid 2px var(--bg); 
            }
            aside {
              width: 100%;
              margin: 0 0 1.25rem; }
              blockquote {
                padding: 0 1rem; 
              }


              sup {
                margin: 0 2px 0 0;
                line-height: 1em; }

                sub {
                  margin: 0 0 0 2px;
                  line-height: 1em;
                  font-size: smaller;
                  vertical-align: sub; }

                  code {
                    display: inline-block;
                    font-size: .875rem; 
                    border-radius: 4px; 
                    padding: 0 2px;
                    font-family: "SF Mono", "IBM Plex Mono", Menlo, monospace; 
                  }

                  pre {
                    white-space: pre-wrap;
                    border-radius: 4px; 
                    background: #f8f8f8;
                    padding: .5rem;
                    line-height: var(--line-height); 
                  }

                  blockquote {
  // color: var(--gray); 
  // margin: 1.25rem 0 1.25rem 1.25rem ; 
  // width: 80%; 
  // border-radius: 4px;
  padding: 1.5rem;
  background: #f8f8f8;
  // border-left: solid 2px var(--copy);
  // margin-left: .25rem;
}

blockquote strong {
  text-transform: none;
  font-size: 1rem;
  letter-spacing: 0; 
  font-weight: var(--font-bold);
}

blockquote ul:last-child {
  margin-bottom: 0; 
}

figure {
  margin-bottom: 1.5rem; 
  img { margin-bottom: .5rem; }
  figcaption { 
    font-size: .875rem; 
    line-height: var(--line-height);
    color: var(--gray); 
  }
}


.wrapper {
  max-width: var(--width-column);
  margin: 8rem auto 4rem;
  max-width: calc(3 * var(--content-padding) + var(--width-sidebar) + var(--width-column));
  padding: 0; 
}

.header {
  display: flex; 
  align-items: center; 
  padding: var(--content-padding) ; 
}

.logo {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background: var(--link) url(/images/logo.svg) no-repeat center center;
  padding: .5rem;
  text-indent: -1000em;
  background-size: 60%;
  border-radius: 100%; 
}

.byline { 
  width: 100%;
  margin-left: .75rem; 
  padding-left: .75rem;
  border-left: solid 1px var(--lightest-gray);
}
.byline__name {
  margin-right: 1rem;
}
.byline__year {
  opacity: .4;
}

.title, .byline__name {
  margin: 0; 
  line-height: var(--line-height);
}

.header-navigation-jump {
  opacity: .4; 
  line-height: 1em; 
  margin-left: auto;    
  display: none; 
  cursor: pointer; 
  top: -2px;
  position: relative;
  border: 0; 
  &:hover {
    opacity: 1; 
  }
}

.page {
  display: flex; 
  flex-direction: row; 
  width: 100%; 
}


.page__column {
  // border-left: solid 1px var(--lightest-gray);
  background: var(--bg-article);
  padding-bottom: 0;
  border-radius: 4px; 
  flex-basis:  var(--width-column);
  flex-shrink: 0; 
  // box-shadow: 0 0px 6px var(--box-shadow);
  // width: calc(27.16rem + 6rem);
  // width: calc(20rem + 6rem);
  // SF-based width: calc(27.16rem + 8.9rem);
}


.page__sidebar {
  padding: var(--content-padding);
  padding-right: 0; 
  padding-top: 4rem;
  font-size: .875rem; 
  // width: 15rem; 
  order: 1;
  line-height: var(--line-height);
  & p:last-child { margin-bottom: 0; }
}



.navigation {
  text-rendering: optimizeLegibility;
  list-style: none;
  padding: 0; 
  li {
    list-style: none; 
    margin-bottom: 1rem;
    padding-left: 0; 
  }
  a {
    font-weight: var(--font-bold);
  }
}

.caps,
strong,
.interview .name {
  font-size: .875em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing); 
  font-weight: var(--font-bold);
}

.caps {
  font-weight: normal; 
}

.archive {
  font-variant-numeric: tabular-nums; 
  a { font-size: 1rem; }
  li {
  }
}
.archive__date {
  color: var(--gray);
  white-space: nowrap; 
  font-size: .875rem; 
}

.footnotes {
  font-size: .875rem;
  padding: 0;
  line-height: var(--line-height);
  margin: 2.25rem 0; 
  margin-bottom: 0; 
  border-top: solid 2px var(--bg); 
  font-style: italic; 
  > hr { display: none; }
  ol {
    padding: 1rem; 
    margin: 0; 
    a { border-color: rgba(0,0,0,.12); }
    &:before {
      content: "Footnotes"; 
      display: none; 
      padding: 0 1rem; 
      position: relative; 
      left: -.5rem;
      border-radius: 4px;  
      color: var(--gray); 
      top: -.75rem; 
      background: white; 
    }
  }
  li {
    margin-bottom: 1em; 
    &:last-child { margin-bottom: 0; }
  }
}


.term {
  font-weight: var(--font-bold); 
}

.interview {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem; }

  .canonical-link {
    color: var(--gray);
    position: relative;
    a { 
      color: var(--gray); 
      text-decoration-color: transparent; 
      &:hover { text-decoration-color: var(--copy); }
    }
  }
  .canonical-link--post,
  .canonical-link--homepage {  
    border: 0; 
  // color: var(--gray); 
}

.canonical-link--homepage:hover { opacity: 1; }
.canonical-link--post { display: inline; }

.pagination {
  padding: var(--content-padding); 
  line-height: var(--line-height); 
  color: var(--gray); 
  .caps {
    letter-spacing: var(--letter-spacing); 
    padding-bottom: .5rem; 
    color: var(--gray); 
    font-weight: var(--font-bold);
  }
}
.pagination-older {
  margin-bottom: 2rem; 
}

.article-break {

}

.a11y-skip {
  padding: .25rem 1rem;
  background: var(--link);
  color: white;
  position: fixed;
  top: -100px;
  transition: all .2s ease-out; 
  left: 0px;
  right: 0px;
  &:focus {
    top: 0;
  }
}

.interview h1,
.interview h2,
.interview h3,
.interview .name,
.interview strong,
.interview .name {
  margin-left: -1.5rem; }


  .heart {
    background-color: var(--link);
    display: inline-block;
    height: .62em;
    margin: 0 4px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: .62em;
  }

  .heart:before,
  .heart:after {
    content: "";
    background-color: var(--link);
    border-radius: 50%;
    height: .6em;
    position: absolute;
    width: .6em;
  }

  .heart:before {
    top: -.3em;
    left: 0;
  }

  .heart:after {
    left: .3em;
    top: 0;
  }

  .headline-space { display: none; }
  .headline-nbsp { display: inline; }


  @media (max-width: 60rem) {
    html { font-size: 15px; }
    .wrapper {
      margin: 0 auto; 
      padding: 0; 
      max-width: 658px; 
    }
    article, 
    .pagination,
    .menu,
    .header,
    .page__sidebar {
      padding: 1.5rem 1rem;
    }
    .header {
      padding: 1rem 1rem 3rem;  
      margin-top: 0; 
    }
    .header-navigation-jump {
      display: block; 
    }
    .hide-on-mobile { display: none; }
    .page {
      flex-direction: column; 
      border-top: 0; 
    }
    .page__column { 
      border: 0; 
      box-shadow: 0; 
      order: 0; 
      width: auto; 
    }
    .page__sidebar {
      margin: 0; 
      order: 1; 
      width: auto; 
    }
    ul,
    ol {
      padding-left: 1.5rem;
      list-style-position: initial;
    }

    h1 { font-size: 1.5rem; }
  }
  @media (max-width: 420px) {
    .page__column { padding-bottom: 0; }
  }
  @media (max-width: 370px) {
    html { font-size: 14px; }
    .byline__intro { display: none; }
  }

