 </section>
        <div class="sidebar" id="navigation">
  		  <figure class="ad">
			<img src="/images/messages/fb.png" alt="Facepalmbook" title="This works on two levels: Facebook's recent scandal and Palm Sunday/Easter. ">
  		    <figcaption>Not an ad. Just trying something new and fun. (Hover over or tap-and-hold the image for more)</figcaption>
  		  </figure>
		  
          <!-- <p style="margin-bottom:1.5rem;" title="She's the bestest"><strong>I <span class="heart heart-teal"></span> Emily Rose</strong></p> -->
		  
          <ul class="navigation">
            <li><a href="/archive">Archive</a></li>
            <li><a href="/masthead">Masthead</a></li>
            <li><a href="/projects/style-guide">Style Guide</a></li>
          </ul>

          <p>A small column on privacy, design, gaming, and writing. Published from Ohio. Made on a Mac.</p>

          <p>Get updates via <a href="https://twitter.com/audaciousfoxnet">Twitter</a>, <a href="/feeds/main.xml">RSS</a>, or <a href="/feeds/main.json">JSON</a>. 

          <p>Happy <span id="today">reading</span>.</p>
        </div>
      </div>
    </div>
  
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100962497); }catch(e){};</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100962497ns.gif" /></p></noscript>
    <script type="text/javascript">
      var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
      var date = new Date();
      var day = date.getDay();
      var dayName = days[day];
      document.getElementById('today').innerText = dayName;
    </script>
  </body> 
</html>
