 </section>

        <div class="sidebar" id="navigation">
          <ul class="navigation">
            <li><a href="/archive">Archive</a></li>
            <li><a href="/masthead">Masthead</a></li>
            <li><a href="/projects/style-guide">Style Guide</a></li>
            <li><a href="https://twitter.com/Dreger">Twitter</a> &amp; <a href="/feeds/main.xml">RSS</a></li>
          </ul>

          <p>Written thoughts on design, writing, and privacy.</p>
          <p>Published from Ohio, made on a Mac.</p>
          <p title="Peace, fellow friends.">✌️</p>
        </div>
      </div>
    </div>
  
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100962497); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100962497ns.gif" /></p></noscript>
  </body> 
</html>
