 </section>

        <div class="sidebar">
          <ul class="navigation">
            <li class="caps"><em>Index</em></li>
            <li><a href="/masthead">Masthead</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/feeds/main.xml">RSS</a></li>
          </ul>

          <p>A dailyish webcolumn about tech, design, and gaming. Published from Ohio.</p>

          <p>Made on a Macintosh.</p>

          <!-- <small class="small more-faded">&copy; K.Q. Dreger</small> -->
        </div>
      </div>

    </div>

  </body> 
</html>
