<!doctype html>

{{ `<!-- The greater fool. What kind of day has it been? -->` | safeHTML }}

<html lang="en">
<head>
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Site.Title }}: {{ .Title }}{{ end }}</title>
  {{ if eq .Title .Site.Title }}
    <meta name="Description" content="A small column on privacy, design, gaming, and writing. Published from Ohio. Written by K.Q. Dreger.">
    <meta itemprop="description" content="A small column on privacy, design, gaming, and writing. Published from Ohio. Made on a Mac. Written by K.Q. Dreger.">
  {{ end }}
  <meta charset="utf-8">
  <meta name="generated" content='{{ now.Format "Jan 2, 2006 at 3:04:05 (MST)" }}'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://micro.blog/dreger" rel="me" />
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7009134/7164992/css/fonts.css" /> -->
  <link rel="stylesheet" href="/css/audacious.css?v={{ now.Format "20060102150405" }}">  
  <link rel="alternate" type="application/rss+xml"  href="/feeds/main.xml" />
  <link rel="alternate" type="application/json" href="/feeds/main.json" />
  {{ if .IsPage }}
    <meta name="Description" content="{{ htmlEscape .Summary | plainify }}...">
    <meta itemprop="description" content="{{ htmlEscape .Summary | plainify }}...">
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:description" content="{{ htmlEscape .Summary | plainify }}..."/>
    <meta property="og:site_name" content="{{ .Site.Title }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/> 
    <meta property="og:image" content="{{ .Site.BaseURL }}/icon.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@dreger" />
  {{ end }}

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Audacious Fox">
  <meta itemprop="image" content="https://audaciousfox.net/icon.png">
</head>
  <body>
    <div class="wrapped">
      <header class="header" role="header">
        <span class="site-icon">{{ $.Param "icon" | markdownify  }}</span>
        <h1 class="title"><a href="/">{{ .Site.Title }}</a></h1>
        <span class="byline"><span style="text-transform:none;letter-spacing:0">by</span> <a href="#navigation">{{ .Site.Author.name }}</a></span>
      </header>

      <div class="container">
        <section class="column">