<!doctype html>

{{ `<!-- The greater fool. What kind of day has it been? Good. -->` | safeHTML }}

<html lang="en">
<title>
  {{ if .IsHome }}
  {{ .Title }}
  {{ else }}
  {{ .Site.Title }}: {{ .Title }} 
  {{ end }}
</title>
  <meta charset="utf-8">
  {{ if eq .Title .Site.Title }}
    <meta name="Description" content="Words about design, technology, and gaming. Best enjoyed with a pinch of salt and fine drink. Written by K.Q. Dreger.">
  {{ end }}
  
  {{ if .IsPage }}
    <meta name="Description" content="{{ htmlEscape .Summary | plainify }}...">
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:description" content="{{ htmlEscape .Summary | plainify }}..."/>
    <meta property="og:site_name" content="{{ .Site.Title }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/> 
    <meta property="og:image" content="{{ .Site.BaseURL }}/icon.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@dreger" />
  {{ end }}

  <meta name="generated" content='{{ .Now.Format "Jan 2, 2006 at 3:04:05 (MST)" }}'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="stylesheet" href="/css/audacious.css"> 
  <link rel="alternate" type="application/rss+xml" href="/feeds/main.xml" />
<head>
</head>
  <body>
    <div class="wrapped">
      <header class="header" role="header">
        <h1 class="title"><a href="/">{{ .Site.Title }}</a></h1>
        <span class="byline"><span class="by">By</span> <a href="#navigation">{{ .Site.Author.name }}</a></span>
      </header>

      <div class="container">
        <section class="column">