<!doctype html>

{{ `<!-- The greater fool. What kind of day has it been? -->` | safeHTML }}

<html lang="en">
<head>
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Site.Title }}: {{ .Title }}{{ end }}</title>
  <meta charset="utf-8">
  <meta name="generated" content='{{ now.Format "Jan 2, 2006 at 3:04:05 (MST)" }}'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://micro.blog/dreger" rel="me" />
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="stylesheet" href="/css/audacious.css?v={{ now.Format "20060102150405" }}">
  <link rel="alternate" type="application/rss+xml"  href="/feeds/main.xml" />
  <link rel="alternate" type="application/json" href="/feeds/main.json" />
  <meta itemprop="name" content="Audacious Fox">
  <meta itemprop="image" content="https://audaciousfox.net/icon.png">
  {{ if eq .Title .Site.Title }}
  <meta name="Description" content="A small column on privacy, design, gaming, and writing. Published from Ohio. Written by K.Q. Dreger.">
  <meta itemprop="description" content="A small column on privacy, design, gaming, and writing. Published from Ohio. Made on a Mac. Written by K.Q. Dreger.">
  {{ end }}
  {{ if .IsPage }}
  <meta name="Description" content="{{ htmlEscape .Summary | plainify }}...">
  <meta itemprop="description" content="{{ htmlEscape .Summary | plainify }}...">
  <meta property="og:title" content="{{ .Title }}"/>
  <meta property="og:description" content="{{ htmlEscape .Summary | plainify }}..."/>
  <meta property="og:site_name" content="{{ .Site.Title }}"/>
  <meta property="og:url" content="{{ .Permalink }}"/> 
  <meta property="og:image" content="{{ .Site.BaseURL }}/icon.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@dreger" />
  {{ end }}
  <!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7009134/7164992/css/fonts.css" /> -->
</head>
<body>
  <div class="wrapper">
    <header class="header centered">
      <!-- <span class="site-icon">{{ $.Param "icon" | markdownify  }}</span> -->
      <h1 class="title"><a href="/">{{ .Site.Title }}</a></h1>
      <!-- <span class="byline">by <a href="#navigation">{{ .Site.Author.name }}</a></span> -->
      <div class="byline">By 
        <span class="byline__name">K.Q. Dreger</span>
        <span class="byline__initials">KQD</span>
      </div>

      <a href="#navigation" class="header-navigation-jump" title="Navigation menu toggle">•••</a>
    </header>

    <div class="page">
      <div class="page__sidebar" id="navigation">
        <ul class="navigation" role="navigation">
          <li><a href="/archive">Archive</a></li>
          <li><a href="/masthead">Masthead</a></li>
          <li><a href="/projects/edit">Edit ($1.99)</a></li>
          <li><a href="/projects/style-guide">Style Guide</a></li>
          <!-- <li><a href="/feeds">RSS</a></li> -->
        </ul>

        <p>A tiny column on design, gaming, tech, and writing. Published from Ohio, made on a Mac. Updated multiple times a month. I do not have a newsletter. I care about <a href="/privacy">your privacy</a>.</p>

        <p>Follow for updates via <a href="https://twitter.com/audaciousfoxnet">Twitter</a>, <a href="/feeds/main.xml">RSS</a>, or <a href="/feeds/main.json">JSON</a>.
        </p>

        <p>Happy <span id="today">reading</span>.</p>

        <p>I <span class="heart"></span>&nbsp;Emily Rose.</p>
      </div>
      <div class="page__column">