<div class="pagination">
	{{ if .PrevPage }}
  <div class="pagination-older"><div class="caps">Older</div><a href='{{ strings.TrimSuffix "/" .PrevPage.Permalink }}'>{{.PrevPage.Title}}</a></div>
{{ end }}
{{ if .NextPage }}
  <div><div class="caps">Newer</div><a href='{{ strings.TrimSuffix "/" .NextPage.Permalink }}'>{{.NextPage.Title}}</a></div>
{{ end }}
<br><br>
	<p>Interested in an experimental newsletter on product, design, and writing?</p>
	<form method="get" action="https://docs.google.com/forms/d/e/1FAIpQLSdGrd4Jff8LAF6FbRAar1lY9-QIQc_qQEqJ_amgNiZx5ZAAkQ/viewform?usp=pp_url">
		<input name="entry.585778820" type="text" placeholder="Email...">
		<button>I'm interested</button><br>
	</form> 
	<!-- <small>Currently: 4 friends and my mom. </small> -->
</div>
