<article>       
  <header class="article-header">
    {{ if (eq .Section "linked") }}
      <h2 class="link">
        <span class="link-target"><a href="{{ .Params.link }}">{{ replaceRE " ([^ ]*$)" "&nbsp;$1" .Title | safeHTML }}</a></span>
      </h2> 
    {{ else }}
      <h1><a href="{{ .RelPermalink }}">{{ replaceRE " ([^ ]*$)" "&nbsp;$1" .Title | safeHTML}}</a></h1>
    {{ end }}
  </header>

  {{ .Content }}
  
  <p><a class="muted" href="{{ .RelPermalink }}">{{ .Date.Format "Monday, 2 Jan 2006" }}</a></p>
</article>