{{ $redirect_url := "" }}

{{ if (eq .Section "linked") }}
	{{ $redirect_url = replaceRE "2020|2019|2018|2017|2016" "links$1" .RelPermalink }}
{{ else }}
	{{ $redirect_url = replaceRE "2020|2019|2018|2017|2016" "notes$1" .RelPermalink }}
{{ end }}

{{ $base := "https://audacious.blog" }}


<!DOCTYPE html>
<html>
  <head>
    <title>{{ $base }}{{ $redirect_url }}</title>
    <link rel="canonical" href="{{ $base }}{{ $redirect_url }}"/>
    <meta name="robots" content="noindex">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="0; url={{ $base }}{{ $redirect_url }}"/>
  </head>
</html>

<!-- {{ partial "header.html" . }}
<style scoped>
  .canonical-link--homepage { display: none; }
</style>
{{ partial "post.html" . }}
{{ partial "pagination.html" . }}
{{ partial "footer.html" . }} -->