<article>       
  <header class="article-header">
    {{ if (eq .Section "linked") }}
      <h2 title="{{ title .Title }}" class="link">
        <span class="link-target"><a href="{{ .Params.link }}">{{ replaceRE " ([^ ]*$)" "&nbsp;$1" (title .Title) | safeHTML }}</a></span>
      </h2> 
    {{ else }}
      <h1 title="{{ title .Title }}"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML}}</a></h1>
    {{ end }}
  </header>

  {{ .Content }}
  
  <p><a title='Permalink for “{{ title .Title }}”' class="canonical-link" href="{{ .RelPermalink }}">{{ .Date.Format "Monday, 2 January" }}</a></p>
</article>