{{ partial "header.html" . }}

<article class="article">
  <header class="article-header">  
    <h1>404 Whoops.</h1>
  </header>
  <section class="article-content">

<p>The page you just tried to bring up doesn’t exist. That might be my fault. I'll evaluate that later.</p>

<p>First, try going back <a href="/">home</a> and see if you can’t find what you were looking for. If you think something should have been here, please <a href="/masthead">let me know</a>.</p>

  </section> 
</article>

{{ partial "footer.html" . }}