<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{site.title}}: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ content | strip_html | truncatewords: 30 }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ "/assets/css/audacious.css" | prepend: site.baseurl }}">
</head>

<body>
<section class="wrapper">
  	<header class="header">
  		<figure>
	  		<img class="header-image" src="http://static.thenewsprint.co/media/2015/05/Vancouver-2015-Trip-Part-2-and-3-32.jpg">
  		  <figcaption>Damn, JG - stop taking <a href="http://thenewsprint.co/2015/05/29/vancouver-2015-part-3/">such great photos</a>.</figcaption>
  		</figure>
  	  <h1 class="header-title">Audacious Fox</h1>
  	</header>
  <section class="column">  	
  	<h2 class="section-header">KD's Column</h2> 	
  	<section class="content">
  		{% for post in site.posts limit:1 %}
				<header class="issue-header">
					<h1>{{ post.title }}</h1>
					<h3 class="issue-meta">
						<a href="{{ post.url }}">{{ post.date | date: "%-d %B %Y" }}</a>
					</h3>
				</header>
				{{ post.content }}
				{% endfor %}
  	</section>
  </section> 
  
  <section class="signals">
  	<h2 class="section-header">Signals</h2>
	  <ul class="signals-list">
  		{% for post in site.categories.signals limit:25 %}
				 <li>{{ post.content | remove: '<p>' | remove: '</p>' }} <a class="signals-meta" href="{{ post.url | prepend: site.baseurl }}"> {{ post.date | date: "%m.%d" }}</a></li>
		 {% endfor %}
  	</ul>
  </section>
  
  <section class="navigation">
  	<ul class="site-navigation">
  	  <li><a href="/">About</a></li>
  	  <li><a href="/">RSS</a></li>
			<li><a href="/">Twitter</a></li>
  	</ul>
  	
  	<p>We offer a number of great ways to stay in touch. Want to see?</p>
  </section>
  
  <div class="clearfix"></div>
  
  <footer class="footer">
    <p>Enjoy your day.</p>
  </footer>
</section> 
</body>
</html>
