<!doctype html>
<html lang="en">
{% include head.html %}
  <body>
<!--     <a href="https://twitter.com/AliTomineek/status/751135077082406912" class="solidarity"></a> -->
    <section class="wrapper header">
      <a class="logo" href="/"><img src="/assets/images/logo.png"></a>
    </section>
    <section class="wrapper flex">
      <nav class="navigation">
        <ul>
          <li><a href="/masthead/">Masthead</a></li>
          <li><a href="/archive/">Archive</a></li>
          <li><a href="/projects/">Projects</a></li>
          <!-- <li><a href="/members/">Members</a></li> -->
        </ul>
        <p class="faded byline">With your host,<br><span class="small-caps">K.Q. Dreger</span></p>

        <p class="faded byline font-small">Follow Audacious Fox via <a class="small-caps" href="/feeds/main.xml">RSS</a>, on <a href="https://twitter.com/Dreger">Twitter</a>, or <a href="https://apple.news/T7mJio790S96lno9kfkfXPA">Apple&nbsp;News</a>.</p>
      </nav>

      <section class="content">
        {{ content }}
      </section>
    </section>
  </body>
</html>
