<!doctype html>
<html lang="en">
  <head>
    <title>
    {{ site.title }}{% if page.title %}: {{ page.title }}{% else %}{% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="Description" content="{{ content | strip_html | truncatewords: 30 }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <link rel="apple-touch-icon" href="/assets/images/icon.png" />
    <link rel="stylesheet" href="/assets/css/audacious.css?v=1">
    <link rel="alternate" type="application/rss+xml" href="/feeds/main.xml" />

  </head>
  <body>

      
      
      <section class="wrapper">
        <header class="site-header">
          <h1 class="site-title"><a href="/">Audacious Fox</a></h1>
          <span class="byline">By <a href="/masthead">Kyle Dreger</a></span> 
        </header>
        
        <section class="content">
          {{ content }}
        </section>
        
        <header class="header">
          <ul class="navigation">
            <li>By&nbsp;&nbsp;<span class="small-caps">Kyle Dreger</span></li> 
            <li><a href="/masthead">Masthead</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/feeds">RSS Feeds</a></li>
            <li><a href="https://twitter.com/dreger">Twitter</a></li>
            <!-- <li>Switch the <span id="light-switch">lights</span>.</li> -->
          </ul>
        </header>
    </section>
    <!-- <script src="/assets/js/app.js"></script> -->
  </body>
</html>
