---
layout: default
---


<article class="article">
  <header>  
    {% if page.categories contains 'briefings' %}
    <h1 class="headline headline-briefing">{{ page.title }}</h1>
    {% else %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    {% if page.subtitle %}<h2 class="headline-subtitle">{{ page.subtitle }}</h2>{% endif %} 
  </header>
  <hr class="almost-break">
  <section class="article-content">
    {{ content }}
  </section> 
  <p>&mdash; Kyle Dreger on {{ page.date | date: "%A, %e %B %Y" }}</p>
</article>

